[submodule "lib/vellvm"]
	path = lib/vellvm
	url = https://github.com/snu-sf/vellvm-legacy.git
[submodule "lib/llvm"]
	path = lib/llvm
	url = https://github.com/snu-sf/llvm-simplberry.git
[submodule "lib/paco"]
	path = lib/paco
	url = https://github.com/snu-sf/paco.git
