*.vo
*.v.d
*.glob
*.aux

_CoqProject
Makefile.coq

/src/extraction/*.ml
/src/extraction/*.mli

/.build
/.local
/src/ocaml/_build/
/src/ocaml/corehint/
!/src/ocaml/corehint/*.atd
/src/ocaml/main.native
