*.vo
*.v.d
*.glob
*.aux

_CoqProject
Makefile.coq

/coq/extraction/*.ml
/coq/extraction/*.mli

/coq/extraction_new/*.ml
/coq/extraction_new/*.mli

/.build
/build

/ocaml/_build/
/ocaml/corehint/*
!/ocaml/corehint/*.atd
/ocaml/main.native

/ocaml_refact/_build/
/ocaml_refact/corehint/*
!/ocaml_refact/corehint/*.atd
/ocaml_refact/main.native

/results-opt

lib/*
simplberry-tests